@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />

<header>
    <video autoplay muted loop class="fundo">
        <source src="" />
    </video>

    <div class="container text-center text-warning">
        <h1>Bem-vindo ao Sistema de Ecommerce</h1>
        <p>
            <button class="btn btn-outline-primary">Saiba Mais...</button>
        </p>
    </div>
</header>
