.fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

button {
    margin-top: 50px;
}

.btn-primary {
    background-color: #4800ff;
    border-color: #4800ff;
}

.btn-primary:hover {
    background-color: #250085;
    border-color: #250085;
}