body {
    background-color: #000d4e;
}

form {
    background: linear-gradient(to bottom left, #ffffff3a, #ffffff9b);
    padding: 10px;
    border: 2px solid #ffffff3a;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 6px 1px black;
    margin-top: 180px;
    transition: all 0.5s;
}

form:hover {
    padding: 50px;
}

h1 {
    text-decoration: underline;
}

label {
    margin-top: 20px;
    font-size: 30PX;
}

button {
    margin-top: 30px;
   
}

.btn-primary {
    background-color: #2f049b;
    border-color: #2f049b;
    font-size: 25px;
    transition: all 0.3s;
}

.btn-primary:hover {
    background-color: #250085;
    border-color: #250085;
    letter-spacing: 4px;
}